
.head {
    background-image: url('../public/images/1698064834249.png');
    height: 140px;
    width: 100%;
    margin: 10px;
}
.list{
    background-color: rgba(240, 255, 255, 0.812);
    height: 81px;
    width: 90%;
    position:absolute;
    top:50px;
    right: 0;
    justify-items: end;
    border-radius: 150px 0px 0px 0px;
}
